@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

$mainBG: #021213;
$firstAccent: #FAB80A;
$secondAccent: #BC403B;
$lightOne: #89937C;
$lightTwo: #FBF5F3;
$mono-font: 'Ubuntu Mono', monospace;

$font-family-base: 'Saira Extra Condensed', sans-serif;
$info: $firstAccent;

@import "~bootstrap/scss/bootstrap";

@mixin horiz-bar {
  content: "";
  display: block;
  position: relative;
  top: -20px;
  width: 300px;
  height: 2px;
  left: 120px;
  background-color: $secondAccent;
}

@mixin vert-bar {
  content: "";
  display: block;
  position: fixed;
  height: 100px;
  width: 2px;
  bottom: 0;
  margin-left: 12px;
  background-color: $secondAccent;
}

body {
  background-color: $mainBG;
  height: 100%;
  color: white;
}

.header {
  color: white;
}

.navbar-brand {
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 2px;
}

#header-nav a {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
}

#resume-button {
  font-size: 1.5em !important;
  font-weight: 400 !important;
  font-family: $mono-font;
  letter-spacing: 1px !important;
  padding: 8px 16px;
  margin-top: 5px;
  height: 50px;
}

.intro {
  color: $lightOne;

  p {
    font-size: 1.5em;
  }

  p:first-child{
    margin-bottom: 0;
    font-family: $mono-font;
    color: $firstAccent;
  }

  h2 {
    font-size: 5em;
    font-weight: 900;
    letter-spacing: 1px;
  }

  a {
    font-size: 1.5em;
    font-family: $mono-font;
    letter-spacing: 1px;
  }
}

#intro-name {
  margin-top: 0;
  font-size: 6em;
  font-weight: 900;
  letter-spacing: 3px;
  color: white;
}

.group {
  padding-top: 200px;
  padding-bottom: 200px;

  p {
    font-size: 1.2em;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1px;
  }
}

#about::after {
  @include horiz-bar;
}

.profile-image {
  background-color: $lightOne;
  border: 2px solid $secondAccent;
}

.skills {
  columns: 2;
}

li {
  list-style: none;
  font-family: $mono-font;
  color: $firstAccent;
  font-size: 1.2em;
}

#portfolio{
  text-align: right;
  &:before {
    @include horiz-bar;
    top: 20px;
    left: -70px;
  }
}

.project-group {
  margin-bottom: 100px;
  margin-left: 10px;
}

.project-image-container {
  text-align: center;
}

.project-image {
  max-height: 600px;
}

.project-text {
  margin-top: 20px;

  h4 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
    color: $lightOne;
  }
  ul {
    list-style-type: none;
  }
  li {
    display: inline-block;
    padding: 0 10px;
  }
}

.project-link {
  font-size: 2em;
  color: $lightTwo;
  &:hover {
    color: $lightOne;
  }
  &:active {
    color: $firstAccent;
  }
}

#sidebar-links {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: fixed;
  left: 2%;
  bottom: 100px;
  &::after {
    @include vert-bar;
  }
}
@media (max-width: 1400px) {
  #sidebar-links {
    left: 1%;
  }
}
@media (max-width: 942px) {
  #sidebar-links {
    position: relative;
    flex-direction: row;
    margin: 0 auto 20px auto;
    width: 50%;
    justify-content: space-evenly;
    &::after {
      display: none;
    }
  }
}
.sidebar-link {
  font-size: 2em;
  color: $lightTwo;
  &:hover {
    color: $lightOne;
  }
  &:active {
    color: $firstAccent;
  }
}